/*******    feuille de style page calculette   ************/

//import des fichiers de style
@import "../vendors/normalize.scss";
@import "../vendors/input-range.scss";

@import "../utils/breakpoint/breakpoint.scss";
@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/mixins/responsive/responsive.scss";
@import "../utils/class/class.scss";

@import "../utils/style-rule/style-rule.scss";

.container-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  //border: 2px solid red;
}

.introduction {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  margin: 1em 0em;
}

.introduction-img {
  display: flex;
  flex-flow: column wrap;
  justify-content:space-evenly;
  align-items: center;

  margin:1em 0em;
  width: 100%;
  height: 150px;

 // border: 2px solid red;
  background-image: url(../../../Asset/petite-maison-lego-500px.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include upper-medium-screen {
    flex-flow: row wrap;
    width: 100%;
    height: 160px;

    background-image: url(../../../Asset/petite-maison-lego-1000px.png);
  }

  @include upper-x-large-screen {
    width: 100%;
    height: 160px;

    background-image: url(../../../Asset/petite-maison-lego-1500px.png);
  }
}

.svg-icon{
  width:250px;
  height: 250px;
  //fill: blue;
  //margin-left: 1em;
}

.container-svg{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  //flex: 0 0 5%;
  width:2em;
  height: 2em;
  border: 2px solid pink;
  
}


.svg-icon-info{
  color: map-get($colors-rule, second-color);
  //border: 2px solid blue;
  transform: translateY(-30%);
  height: 1.5em;
  width: 1.5em;

  @include upper-large-screen{

    cursor: help;
  }
  
}




.introduction-icon{


   display: flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items: center;

  width: 40px;
  height: 40px;
  margin: 1em;
  overflow: visible;
  border-radius: 50%;
  background-color: map-get($colors-rule, first-color ) ;
  //border: 1px solid map-get($colors-rule, first-color );
  outline: 2px solid map-get($colors-rule, first-color ) ;
 outline-offset: 5px;

}

.icon-text{
  position:relative;
  font-size: 1em;
  text-transform: capitalize;
  color:map-get($colors-rule, fifth-color);
}

.icon-end-text{
  //position: absolute;
  //left:0em;
  //top:0em;
  margin-left: 0.2em;
  font-size: 1.2em;
  font-weight: 600;
  color:map-get($colors-rule, fifth-color);
}

.fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  border-radius: 1em;
  margin: 1em 0em;

  width: 100%;
  background-color: lighten(map-get($colors-rule, first-color), 60%);
  //border: 2px solid blue;
}

.calculette-mensualite {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  //border: 4px solid green;

  border-radius: 1em;
  width: 80%;
  padding: 1em;

  @include upper-medium-screen {
    width: 50%;
  }
  @include upper-large-screen {
    width: 40%;
  }
}

.titre-calculette {
  font-weight: 600;
  margin-top: 1em;
  padding: 1em;
  text-transform: uppercase;
}

/****************************************************************************************
/*****************  Style de la partie affichage input radio***************************/
/****start******************************************************************************/

.main-container-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  //border: 2px solid purple;
  //sert de div reference pour container-label
  
  width: 100%;
  margin: 1em 0em;
}

.container-label{
  position: relative;
  //background-color: red;


}

.info-bulle{
  position: absolute;
  top: 120%;
  left: 20%;
  z-index: 10;
  background-color: map-get($colors-rule, second-color);
  width: 400px;
  padding: 1em 1em 0em 1em;
  color:map-get($colors-rule, fourth-color);
  box-shadow: 6px 6px 15px black ;

  & > h3{
    text-transform:uppercase;
    font-size: 1.2em;
    
  }

  & > p {
    margin-top: 0.5em ;
  }
}

.main-container-input-radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container-radio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  flex: 0 0 auto;
  margin: 1.5em 0.5em;

  &:hover {
    cursor: pointer;
  }
}

.input-radio {
  //border: 4px solid map-get($colors-rule, first-color);
  background-color: map-get($colors-rule, first-color);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;

  &:checked {
    outline: 2px solid map-get($colors-rule, third-color);
    outline-offset: 0.125rem;
    background-color: map-get($colors-rule, third-color);
  }
}

/*****************  Style de la partie affichage input radio***************************/
/****end******************************************************************************/

/****************************************************************************************
/*****************  Style de la partie affichage input number et input range**************/
/****start******************************************************************************/

.label {
  padding: 0.5em;
  font-weight: 700;
}

.start {
  margin-left: 0em;
  align-items: flex-start;
}

.container-input-range,
.container-input-number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  //border: 2px solid blue;

  & > span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    flex: 0 0 30%;
    height: 100%;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    font-weight: 700;
    background-color: map-get($colors-rule, first-color);
  }
}

.container-input-range {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
}

.container-input-number {
  width: 100%;
  height: 3em;
}

.calculette-range,
.calculette-number {
  // width: 100%;
  margin: 1em 0em;
}

.calculette-range {
  flex: 0 0 90%;
  justify-self: center;
}

.calculette-number {
  flex: 0 0 60%;
  height: 100%;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  padding-left: 1em;
  background-color: lighten(map-get($colors-rule, fourth-color), 60%);
  font-size: 1.3em;
}

.gain-advice,
.income-year {
  padding-left: 1em;
}

/***************  Style de la partie affichage input number et input range***********
******end****************************************************************************/

/****************************************************************************************
/********  Style de la partie affichage resultat calculette mensualite ******************/
/****start******************************************************************************/

.container-resultat {
  align-self: center;
  margin: 1em 0em;
  height: fit-content;
  padding: 1.5em;
  border-radius: 2em;

  width: 70%;
}

.valid {
  background-color: map-get($colors-rule, third-color);
}

.error,
.negativ {
  background-color: map-get($colors-rule, second-color);
}

.equal {
  background-color: map-get($colors-rule, first-color);
}

.resultat {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 0em;
  color: map-get($colors-rule, fourth-color);

  width: 100%;
}

.resultat-error {
  color: map-get($colors-rule, fifth-color);
}

.text-resultat {
  font-size: 1.1em;
  font-weight: 600;
}

#mensualite,
#interest {
  margin-left: 0.5em;
  margin-right: 0.2em;
  font-size: 1.2em;
  font-weight: 600;
}

.hide {
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  transition: max-height 300ms linear 0s;
}

.display {
  max-height: 150px;
  overflow: hidden;
  transition: max-height 300ms linear 0s;
}

.hide-taxe {
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  transition: max-height 300ms linear 0s;
}

.display-taxe {
  max-height: 1500px;
  //overflow: hidden;
  transition: max-height 300ms linear 0s;
}

.wrap {
  flex-flow: wrap;
}

/****************************************************************************************
/********  Style de la partie affichage resultat charges et taxe ******************/
/****start******************************************************************************/

.disabled {
  //background-color: lighten(map-get($colors-rule, fourth-color,30%));
  opacity: 0.3;
}


/****************************************************************************************
/********  **************** footer **************** ******************/
/****start******************************************************************************/

.footer{
  background-color: map-get($colors-rule, fourth-color);
  
  padding: 1em;
  width:100%;
}

.menu-footer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 0em;
  width: 100%;

  @include upper-medium-screen{
    flex-flow: row nowrap;
  justify-content: space-evenly;
  }
}

.menu-footer-li > a{
  color:map-get($colors-rule, fifth-color);
}