//Règle de style complementaire pour l'application

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des fonts
@import "../../utils/fonts/font.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Mulish", sans-serif; //text
  font-size: 1em;
  font-weight: 500;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  width: 100%;
  //background-color: lighten(map-get($colors-rule, fourth-color), 80%);
  color: map-get($colors-rule, fourth-color);
}

.title {
  font-family: "Oswald", sans-serif; //tittle
}

.h1 {
  font-weight: 600;
  font-size: 2.5em;
  padding: 1em 0em;
}

.h2 {
  font-weight: 600;
  font-size: 1.2em;
}

.h3 {
  font-weight: 600;
  font-size: 1.3em;
}
