/*******************************************************************************
******************** class css *************************************************
**********************************************************************************/

//fichier outil

@import "../../utils/colors-rule/colors-rule.scss";
@import "../../utils/mixins/responsive/responsive.scss";

/****************************************************************************************
/********  **************** flex box **************** ******************/
/****start******************************************************************************/

//row
.flex-row-start-center {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flex-row-space-evenly-center {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-space-evenly-center-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-space-evenly-start {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

//column

.flex-column-start-center {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-start-start {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-column-center-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/****************************************************************************************
/********  **************** flex box **************** ******************/
/**** end ******************************************************************************/

/****************************************************************************************
/********  **************** container-page + body  **************** ******************/
/**** start ******************************************************************************/

.container-page,
body {
  max-width: 1500px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.container-page {
  padding: 3em;
}
/****************************************************************************************
/********  **************** container-page + body  **************** ******************/
/**** end ******************************************************************************/

/****************************************************************************************
/********  **************** header **************** ******************/
/**** start ******************************************************************************/

.header {
  align-self: flex-start;
  margin-bottom: 1em;
  //border: 4px solid map-get($colors-rule, fifth-color);
}

.menu-li {
  position: relative;
  margin-right: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 1em;

  background-color: map-get($colors-rule, first-color);

  @include upper-large-screen {
    &:hover {
      outline: 3px solid map-get($colors-rule, first-color);
      outline-offset: 0.5em;
    }
  }
}

.menu-li-a {
  color: map-get($colors-rule, fifth-color);
}

/****************************************************************************************
/********  **************** header **************** ******************/
/**** end ******************************************************************************/

/****************************************************************************************
/********  **************** toggle switch **************** ******************/
/**** start ******************************************************************************/
#toggle-switch {
  display: none; //concerne la checkbox
}

.container-switch {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: map-get($colors-rule, first-color);
  border-radius: 0.5em;
  padding: 5px;
}

.switch {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-5%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;

  background-color: map-get($colors-rule, fifth-color);
}

.move {
  left: 90%;
  top: 50%;
  transform: translate(-100%, -50%);
}

//si l' element body a la classe dark on applique les modifs
body.dark {
  .container-page,
  .container-article,
  .colapse,
  .container-text-article,
  .fieldset {
    background-color: map-get($colors-rule, fourth-color);
    color: map-get($colors-rule, fifth-color);
    transition: all 500ms linear;
  }

  .toggle-text {
    color: map-get($colors-rule, fifth-color);
    transition: all 500ms linear;
  }

  .calculette-number {
    background-color: lighten(map-get($colors-rule, fourth-color), 40%);
    transition: all 500ms linear;
  }

  .income-year {
    color: map-get($colors-rule, fifth-color);
  }

  .form-contact {
    background-color: lighten(map-get($colors-rule, fourth-color), 25%);
  }

  .input-contact {
    background-color: lighten(map-get($colors-rule, fourth-color), 10%);
    color: map-get($colors-rule, fifth-color);
  }

  .popover {
    border: 4px solid map-get($colors-rule, fifth-color);
  }
  .popover:popover-open::after {
    opacity: 0.6;
  }
}

body {
  .container-page,
  .toggle-text,
  .container-article,
  .colapse,
  .container-text-article,
  .calculette-number {
    transition: all 500ms linear;
  }
}

.toggle-text {
  margin-left: 1em;
}

/****************************************************************************************
/********  **************** toggle switch **************** ******************/
/**** end ******************************************************************************/

/****************************************************************************************
/********  **************** popover-help **************** ******************/
/**** start ******************************************************************************/
.btn-popover {
  cursor: pointer;
}

.popover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  padding: 1em;
  background-color: map-get($colors-rule, first-color);
  color: map-get($colors-rule, fifth-color);
  border-radius: 0.5em;
  border: 4px solid map-get($colors-rule, first-color);
  background-image: url(../../../../Asset/petite-maison-lego-500px.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  .title-h5 {
    position: relative;
    z-index: 2;
    font-size: 1.5em;
    border-bottom: 2px solid map-get($colors-rule, first-color);
    width: fit-content;
  }
  .cont-text {
    position: relative;
    z-index: 2;
    margin-top: 1em;
    width: 80%;
    font-size: 1.1em;
    line-height: 150%;
  }

  .btn-close {
    position: absolute;
    z-index: 2;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: darken(map-get($colors-rule, first-color), 10%);
    cursor: pointer;
  }
}

//filtre l'image de fond du popover
.popover::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: map-get($colors-rule, fourth-color);
  z-index: 1;
  opacity: 0.7;
}

.popover:popover-open::backdrop {
  backdrop-filter: blur(3px);
}

/****************************************************************************************
/********  **************** popover-help **************** ******************/
/**** end ******************************************************************************/

/****************************************************************************************
/********  **************** resultat simulation **************** ******************/
/**** start ******************************************************************************/
.simulation {
  margin: 1em 0em;
  padding: 1.5em;
  border-radius: 2em;

  width: 100%;
  background-color: map-get($colors-rule, third-color);

  .simulation-titre {
    margin-top: 1em;
    padding: 1em;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    background-color: darken(map-get($colors-rule, third-color), 20%);
    color: map-get($colors-rule, fifth-color);
    //border-top-right-radius: 40%;
    //border-top-left-radius: 10%;
    //border-bottom-left-radius: 40%;
    //border-bottom-right-radius: 10%;
    border-radius: 2em;
  }
  #cout-mensuel {
    border: 4px solid map-get($colors-rule, fifth-color);
    border-radius: 2em;
    padding: 1em;
  }
}

#simulation {
  background-color: map-get($colors-rule, third-color);
  color: map-get($colors-rule, fourth-color);
}

.container-resultat-simulation {
  width: 80%;
  margin-top: 2em;
  .titre {
    font-weight: 600;
    margin-top: 1em;
    padding: 1em;
    font-style: italic;
  }

  .resultat {
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: lighten(map-get($colors-rule, third-color), 20%);
    border: 2px solid map-get($colors-rule, fifth-color);
    width: calc(50%);
    .value,
    .unity {
      margin-right: 0.5em;
      font-weight: 600;
    }
  }
}

/****************************************************************************************
/********  **************** essultat simualtion **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************



/********  **************** footer **************** ******************/
/**** start ******************************************************************************/

.footer {
  background-color: map-get($colors-rule, fourth-color);

  padding: 1em;
  width: 100%;
  @include upper-medium-screen {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.container-list-footer {
  padding: 3em 0em;
  @include upper-medium-screen {
    align-items: flex-start;
  }
}

.title-list-footer {
  border-bottom: 2px solid map-get($colors-rule, second-color);
  color: map-get($colors-rule, fifth-color);
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 1em;
}

.menu-footer-li {
  padding: 1em 0em;
}

.menu-footer-li > a {
  color: map-get($colors-rule, fifth-color);
  &:hover {
    color: map-get($colors-rule, second-color);
  }
}

/****************************************************************************************
/********  **************** footer **************** ******************/
/*** end ******************************************************************************/
