/*******************************************************************************
******************** class css *************************************************
**********************************************************************************/
/****************************************************************************************
/********  **************** flex box **************** ******************/
/****start******************************************************************************/
.flex-row-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space-evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space-evenly-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-column-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-start-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-column-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/****************************************************************************************
/********  **************** flex box **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************
/********  **************** container-page + body  **************** ******************/
/**** start ******************************************************************************/
.container-page, body {
  max-width: 1500px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.container-page {
  padding: 3em;
}

/****************************************************************************************
/********  **************** container-page + body  **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************
/********  **************** header **************** ******************/
/**** start ******************************************************************************/
.header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1em;
}

.menu-li {
  position: relative;
  margin-right: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #068ebc;
}
@media screen and (min-width: 993px) {
  .menu-li:hover {
    outline: 3px solid #068ebc;
    outline-offset: 0.5em;
  }
}

.menu-li-a {
  color: #FBFFFE;
}

/****************************************************************************************
/********  **************** header **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************
/********  **************** toggle switch **************** ******************/
/**** start ******************************************************************************/
#toggle-switch {
  display: none;
}

.container-switch {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #068ebc;
  border-radius: 0.5em;
  padding: 5px;
}

.switch {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(-5%, -50%);
      -ms-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  background-color: #FBFFFE;
}

.move {
  left: 90%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

body.dark .container-page, body.dark .container-article, body.dark .colapse, body.dark .container-text-article, body.dark .fieldset {
  background-color: #272727;
  color: #FBFFFE;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
body.dark .toggle-text {
  color: #FBFFFE;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
body.dark .calculette-number {
  background-color: #8d8d8d;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
body.dark .income-year {
  color: #FBFFFE;
}
body.dark .form-contact {
  background-color: #676767;
}
body.dark .input-contact {
  background-color: #414141;
  color: #FBFFFE;
}

body .container-page, body .toggle-text, body .container-article, body .colapse, body .container-text-article, body .calculette-number {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.toggle-text {
  margin-left: 1em;
}

/****************************************************************************************
/********  **************** toggle switch **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************
/********  **************** resultat simulation **************** ******************/
/**** start ******************************************************************************/
.simulation {
  margin: 1em 0em;
  padding: 1.5em;
  border-radius: 2em;
  width: 100%;
  background-color: #24e05d;
}

.simulation-titre {
  font-weight: 600;
  margin-top: 1em;
  padding: 1em;
  text-transform: uppercase;
}

.container-resultat-simulation .titre {
  font-weight: 600;
  margin-top: 1em;
  padding: 1em;
  font-style: italic;
}
.container-resultat-simulation .resultat {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #7ded9f;
}
/****************************************************************************************
/********  **************** essultat simualtion **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************



/********  **************** footer **************** ******************/
/**** start ******************************************************************************/
.footer {
  background-color: #272727;
  padding: 1em;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container-list-footer {
  padding: 3em 0em;
}
@media screen and (min-width: 769px) {
  .container-list-footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.title-list-footer {
  border-bottom: 2px solid #EFA00B;
  color: #FBFFFE;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 1em;
}

.menu-footer-li {
  padding: 1em 0em;
}

.menu-footer-li > a {
  color: #FBFFFE;
}
.menu-footer-li > a:hover {
  color: #EFA00B;
}

/****************************************************************************************
/********  **************** footer **************** ******************/
/*** end ******************************************************************************/